<section class="container-fluid p-3">
    <nav class="mainnav">
        <ul>
            <li>
                <a [routerLink] = "['/dashboardlink']" >Dashboard</a>
            </li>
            <li>
                <a [routerLink] = "['/summarylink']" >Summary</a>
            </li>
            <li>
                <a [routerLink] = "['/top40link']" >Top40</a>
            </li>
            <li>
                <a [routerLink] = "['/top100link']" >Top100</a>
            </li>
            <li>
                <a [routerLink] = "['/top50link']" >Top50</a>
            </li>
            <li>
                <a [routerLink] = "['/aqulink']" >Aquisitions</a>
            </li>
        </ul>
    </nav>
</section>