<section class="container-fluid dashboardcontent">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="colh5">
                    Top 40 by RBU
                </div>
                <div class="colh5 text-end">
                    <a routerLink="/top40link" routerLinkActive="active" ariaCurrentWhenActive="page">
                        See Details > 
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <app-donutchart></app-donutchart>
        </div>
    </div>
    
    <section class="mt-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="colh5">
                        Top 100 by RBU
                    </div>
                    <div class="colh5 text-end">
                        <a routerLink="/top100link" routerLinkActive="active" ariaCurrentWhenActive="page">
                            See Details > 
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <app-donutchart></app-donutchart>
            </div>
        </div>
    </section>

    <section class="mt-3">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="colh5">
                        Top 50 by RBU
                    </div>
                    <div class="colh5 text-end">
                        <a routerLink="/top50link" routerLinkActive="active" ariaCurrentWhenActive="page">
                            See Details > 
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <app-donutchart></app-donutchart>
            </div>
        </div>
    </section>
    
</section>